@import url("../styles.css");

.section-1 {
    height: 30rem;
    display: flex;
    justify-content: center;
}

.section-1 .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.section-1 .left .sec1-title {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.section-1 .left .sec1-p {
    width: 80%;
    padding-bottom: 1rem;
}

.section-1 .left .text1{
    color: var(--color-accent);
}

.section-1 .left .text2{
    color: var(--color-primary);
}


.section-1 .left p{
    color: var(--color-primary);
    text-align: center;
}

.section-1 .right {
    border-style: solid;
    display: flex;
    justify-content: center;
    width: 500px;
    
}

.dino-drink {
    height: 500px;
}