@import url("../styles.css");

/* SECTION 1 */
.section-1 {
    height: auto;
    display: flex;
    justify-content: center;
}

.section-1 .left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.section-1 .left .sec1-title {
    display: flex;
    padding-bottom: 1rem;
}

.section-1 .left .sec1-p {
    width: 80%;
    padding-bottom: 1rem;
}

.section-1 .left .text1{
    color: var(--color-accent);
}

.section-1 .left .text2{
    color: var(--color-primary);
}


.section-1 .left p{
    color: var(--color-primary);
    text-align: center;
}

/* SECTION 2 */

.section-2 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
    gap: 5rem;
}

.section-2 div .icon-container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    width: auto;
}

/* Section 3 */

.section-3 {   
    width: 80%; 
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-3 .right .sec3-title {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.section-3 .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 2rem;
}





